* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

header, footer {
    background-color: #AF4448;
    color: white;
    text-align: center;
    height: 20px;
}

.lewy, .prawy {
    background-color: #FFA4A2;
    height: 650px;
    width: 50%;
}

h3, h4 {
    margin: 0px;
}

.container {
    display: flex;
}

button {
    background-color: #AF4448;
    color: white;
    padding: 5px;
    margin: 10px;
}